.loading {
  text-align: center;
  margin-top: 300px;
  font-size: 1.3rem;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 2px;
  max-width: 500px;
  background-color: #7f8b4b;
  border: solid 7px white;
  padding: 50px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  min-height: 463px;
}

.button {
  width: 130px;
  height: 130px;
  background-color: #05386b;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  transition: 300ms ease;
  outline: none;
  border-radius: 130px;
  margin-bottom: 50px;
  margin-top: 100px;
  -webkit-box-shadow: 6px 7px 5px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 6px 7px 5px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 6px 7px 5px 0px rgba(255, 255, 255, 0.75);
}

.button:hover {
  transform: scale(1.5) rotate(8deg);
  transition: 300ms ease;
}

.until {
  margin-top: 100px;
  padding: 5px;
  min-width: 300px;
  margin-bottom: 100px;
  border-bottom: solid 3px white;
}

.time {
  min-width: 200px;
  padding: 5px;
  border-bottom: solid 3px white;
}
