* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5d3a6;
}

code {
  font-family: "Karla", sans-serif;
  background-color: #f5d3a6;
}
button {
  font-family: "Karla", sans-serif;
}



